@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app, #app>div {
    width: 100%;
    height: 100%
}

@font-face{
        font-family: 'camptonbook';
        src: local('camptonbook'), url("./fonts/CamptonLight.otf") format('truetype');
}

@layer base{
    p{
        font-family: 'camptonbook';
        line-height: 1.5; 
        font-size: 1.125rem;
    }
    .background{
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
    }
    .hero-container{
        background: url("./images/backdrop.jpg") center center/cover no-repeat;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.2);
        object-fit: contain;
    }
}