@tailwind base;
@tailwind components;
@tailwind utilities;

/*

Version 1.0 Colour palletes:

Dark blue = #1F2B37

Light blue = #4F76F6

White = #F9F9F9

Hacker Green = #77F2A1

*/

html, body, #app, #app>div {
    width: 100%;
    height: 100%;
    font-size: medium;
    font-family: 'camptonbook', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

@font-face{
        font-family: 'camptonbook';
        src: local('camptonbook'), url("./fonts/CamptonExtraLight.otf") format('truetype');
}

@font-face {
    font-family: 'camptonbook-light';
    src: local('camptonbook-light'), url("./fonts/CamptonLight.otf") format('truetype');
}

@font-face {
    font-family: 'camptonbook-bold';
    src: local('camptonbook-bold'), url("./fonts/CamptonBold.otf") format('truetype');
}

@layer base{
    h1{
        color: #1F2B37;
    }
    
    a{
        color: #4F76F6;
    }
    a:hover{
        color: #1F2B37
    }

    p{
        font-family: 'camptonbook';
        line-height: 1.5; 
        font-size: 1.125rem;
    }
    .hero-container {
        background: url('./images/backdrop.png') center center/cover no-repeat;
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
        object-fit: contain;
      }
      
      .hero-container > h1 {
        margin-left: 5vh;
        font-size: 100px;
        margin-top: -100px;
        font-family: 'camptonbook-bold', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
      }
      
      .hero-container > p {
        margin-left: 5vh;
        margin-top: 8px;
        font-size: 32px;
        font-family: 'camptonbook-light', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
      }
      .hero-btns {
        margin-left: 5vh;
        margin-top: 32px;
      }
      
      .hero-btns .btn {
        font-family: 'camptonbook-light', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
        margin: 6px;
      }
}